<br>
<div>
    <form>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <label for="formGroupNameInput">股票名稱</label>
                <input #name type="text" class="form-control" id="formGroupExampleInput" placeholder="股票名稱">
            </div>
            <div class="col">
                <label for="formGroupvalueBuyInput">買入金額</label>
                <input #valueBuy type="text" class="form-control" id="formGroupvalueBuyInput" placeholder="買入金額">
            </div>
            <div class="col">
                <label for="formGroupdateBuyInput">買入日期</label>
                <input #dateBuy type="text" class="form-control" id="formGroupdateBuyInput" placeholder="買入日期">
            </div>
            <div class="col">
                <label for="formGroupnumberBuyInput">股票數量</label>
                <input #numberBuy type="text" class="form-control" id="formGroupnumberBuyInput" placeholder="股票數量">
            </div>
            <div class="col">
                <br>
                <button type="reset" class="btn btn-outline-success"
                    (click)="save(name.value, valueBuy.value, dateBuy.value, numberBuy.value)">我要買</button>
            </div>
        </div>
    </form>
</div>
<br><br>

<!-- <h6>我目前有的股票</h6> -->
<table class="table table-fixed">
    <thead class="thead-dark">
        <tr>
            <th scope="col">股票名稱</th>
            <th scope="col">買入金額</th>
            <th scope="col">買入日期</th>
            <th scope="col">股票數量</th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let transaction of transactions; let count = index">
            <ng-container *ngIf="!transaction.valueSell">
                <tr>
                    <td scope="row">{{ transaction.name }}</td>
                    <td scope="row">{{ transaction.valueBuy }}</td>
                    <td scope="row">{{ transaction.dateBuy }}</td>
                    <td scope="row">{{ transaction.numberBuy }}</td>
                    <td>
                        <button (click)="updateDataForModal(count)" type="button" class="btn btn-outline-warning" data-toggle="modal"
                            data-target="#exampleModal">我要賣</button>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>
<br><br>

<!-- <h6>所有買賣記錄</h6> -->
<table class="table table-fixed">
    <thead class="thead-dark">
        <tr>
            <th scope="col">股票名稱</th>
            <th scope="col">買入金額</th>
            <th scope="col">買入日期</th>
            <th scope="col">股票數量</th>
            <th scope="col">賣出金額</th>
            <th scope="col">賣出日期</th>
            <th scope="col">賺/賠金額</th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let transaction of transactions; let count = index;">
            <ng-container *ngIf="transaction.valueSell">
                <tr>
                    <td scope="row">{{ transaction.name }}</td>
                    <td scope="row">{{ transaction.valueBuy }}</td>
                    <td scope="row">{{ transaction.dateBuy }}</td>
                    <td scope="row">{{ transaction.numberBuy }}</td>
                    <td scope="row">{{ transaction.valueSell }}</td>
                    <td scope="row">{{ transaction.dateSell }}</td>
                    <td scope="row">{{ transaction.valueDiff }}</td>
                    <td>
                        <button (click)="delete(count)" type="button" class="btn btn-outline-danger">刪除</button>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">賣股票</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="formGroupvalueSell">賣出金額</label>
                        <input #valueSell type="text" class="form-control" id="formGroupvalueSell"
                            placeholder="賣出金額">
                    </div>
                    <div class="form-group">
                        <label for="formGroupdateSell">賣出日期</label>
                        <input #dateSell type="text" class="form-control" id="formGroupdateSell"
                            placeholder="賣出日期">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">取消</button>
                <button (click)="sell(valueSell.value, dateSell.value)" type="button" class="btn btn-outline-success" data-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>