<br>
<ng-container *ngIf="loggedIn">
    <div>
        <form>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <label for="formGroupNameInput">Stock Name</label>
                    <input #name type="text" class="form-control" id="formGroupExampleInput" placeholder="Stock Name">
                </div>
                <div class="col">
                    <label for="formGroupvalueBuyInput">Buy Price</label>
                    <input #valueBuy type="text" class="form-control" id="formGroupvalueBuyInput" placeholder="Buy Price">
                </div>
                <div class="col">
                    <label for="formGroupdateBuyInput">Buy Date</label>
                    <input #dateBuy type="text" class="form-control" id="formGroupdateBuyInput" placeholder="Buy Date">
                </div>
                <div class="col">
                    <label for="formGroupnumberBuyInput">Amount</label>
                    <input #numberBuy type="text" class="form-control" id="formGroupnumberBuyInput" placeholder="Amount">
                </div>
                <div class="col">
                    <br>
                    <button type="reset" class="btn btn-outline-success"
                        (click)="save(name.value, valueBuy.value, dateBuy.value, numberBuy.value)">Buy</button>
                </div>
            </div>
        </form>
    </div>
    <br><br>

    <!-- <h6>我目前有的股票</h6> -->
    <table class="table table-fixed">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Stock Name</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Buy Date</th>
                <th scope="col">Amount</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let transaction of transactions; let count = index">
                <ng-container *ngIf="!transaction.valueSell">
                    <tr>
                        <td scope="row">{{ transaction.name }}</td>
                        <td scope="row">{{ transaction.valueBuy }}</td>
                        <td scope="row">{{ transaction.dateBuy }}</td>
                        <td scope="row">{{ transaction.numberBuy }}</td>
                        <td>
                            <button (click)="updateDataForModal(count)" type="button" class="btn btn-outline-warning"
                                data-toggle="modal" data-target="#exampleModal">Sell</button>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
    <br><br>

    <!-- Example single danger button -->
    <div class="btn-group">
        <button (click)="fillStockNames()" type="button" class="btn btn-outline-primary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Display
        </button>
        <div class="dropdown-menu">
            <a (click)="editHistoryShown('all')" class="dropdown-item">All</a>
            <ng-container *ngFor="let stockName of stockNames; let count = index;">
                <a (click)="editHistoryShown(stockName)" class="dropdown-item">{{ stockName }}</a>
            </ng-container>
        </div>
    </div>
    <div style="float: right; margin-right: 2vw;">
        <h6><strong> Total Net Gain/Loss: ${{ totalAmountOfMoney }} </strong></h6>
    </div>
    <!-- <div class="row">
    <div class="col-md-8">.col-md-8</div>
    <div class="col-md-4">.col-md-4</div>
</div> -->
    <!-- <h6>所有買賣記錄</h6> -->
    <table class="table table-fixed">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Stock Name</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Buy Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Sell Date</th>
                <th scope="col">Net Gain/Loss</th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="showHistory == 'all'; then showAll else showPart"></ng-container>
            <ng-template #showAll>
                <ng-container *ngFor="let transaction of transactions; let count = index;">
                    <ng-container *ngIf="transaction.valueSell">
                        <tr>
                            <td scope="row">{{ transaction.name }}</td>
                            <td scope="row">{{ transaction.valueBuy }}</td>
                            <td scope="row">{{ transaction.dateBuy }}</td>
                            <td scope="row">{{ transaction.numberBuy }}</td>
                            <td scope="row">{{ transaction.valueSell }}</td>
                            <td scope="row">{{ transaction.dateSell }}</td>
                            <td scope="row" [class]="getColour(transaction.valueDiff)">{{ transaction.valueDiff }}</td>
                            <td>
                                <button (click)=" delete(count)" type="button"
                                    class="btn btn-outline-danger">Delete</button>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </ng-template>
            <ng-template #showPart>
                <ng-container *ngFor="let transaction of transactions; let count = index;">
                    <ng-container *ngIf="transaction.valueSell && transaction.name == showHistory">
                        <tr>
                            <td scope="row">{{ transaction.name }}</td>
                            <td scope="row">{{ transaction.valueBuy }}</td>
                            <td scope="row">{{ transaction.dateBuy }}</td>
                            <td scope="row">{{ transaction.numberBuy }}</td>
                            <td scope="row">{{ transaction.valueSell }}</td>
                            <td scope="row">{{ transaction.dateSell }}</td>
                            <td scope="row" [class]="getColour(transaction.valueDiff)">{{ transaction.valueDiff }}</td>
                            <td>
                                <button (click)=" delete(count)" type="button"
                                    class="btn btn-outline-danger">Delete</button>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </ng-template>
        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sell Stock</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="formGroupvalueSell">Sell Price</label>
                            <input #valueSell type="text" class="form-control" id="formGroupvalueSell"
                                placeholder="Sell Price">
                        </div>
                        <div class="form-group">
                            <label for="formGroupdateSell">Sell Date</label>
                            <input #dateSell type="text" class="form-control" id="formGroupdateSell" placeholder="Sell Date">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                    <button (click)="sell(valueSell.value, dateSell.value)" type="button"
                        class="btn btn-outline-success" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>